.login {
    .login-page {
        display: flex;
        gap: 10rem;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 2rem;
        }
        .left {
            background-color: #e6eefe;
            @media screen and (max-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                @media screen and (max-width: 768px) {
                    width: 50%;
                }
            }
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5rem;
            .group {
                position: relative;
            }
            .input {
                font-size: 16px;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 200px;
                border: none;
                border-bottom: 1px solid #515151;
                background: transparent;
            }
            .input:focus {
                outline: none;
            }
            label {
                color: #999;
                font-size: 18px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            .input:focus ~ label, .input:valid ~ label {
                top: -20px;
                font-size: 14px;
                color: #5264AE;
            }
            .bar {
                position: relative;
                display: block;
                width: 200px;
            }
            .bar:before, .bar:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #5264AE;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            .bar:before {
                left: 50%;
            }
            .bar:after {
                right: 50%;
            }
            .input:focus ~ .bar:before, .input:focus ~ .bar:after {
                width: 50%;
            }
            .highlight {
                position: absolute;
                height: 60%;
                width: 100px;
                top: 25%;
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }
            .input:focus ~ .highlight {
                animation: inputHighlighter 0.3s ease;
            }
            @keyframes inputHighlighter {
                from {
                background: #5264AE;
                }
                to {
                width: 0;
                background: transparent;
                }
            }
            button {
                font-size: 20px;
                background: var(--dark);
                color: var(--light);
                padding: 0.7em 1em;
                display: flex;
                align-items: center;
                border: none;
                border-radius: 16px;
                overflow: hidden;
                transition: all 0.2s;
            }
            button span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
            }
            button svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
            }
            button:hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
            }
            button:hover svg {
                transform: translateX(1.2em) rotate(45deg) scale(1.1);
            }
            button:hover span {
                transform: translateX(5em);
            }
            button:active {
                transform: scale(0.95);
            }
            @keyframes fly-1 {
                from {
                transform: translateY(0.1em);
                }
                to {
                transform: translateY(-0.1em);
                }
            }
        }
    }
}