.docs {
    .docs-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            height: 120vh;
        }
        .row {
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        }
        .left {
            h1 {
                border-top: 2px solid #5d6cf4;
                margin: 2rem 0;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10%;
            background: linear-gradient(5.53deg,rgba(255,61,0,.8) -13.27%,hsla(0,0%,96%,.8) 53.69%),linear-gradient(357.83deg,rgba(255,61,0,.6) 35.45%,rgba(255,61,0,.6) 79.92%),#feff4d;
            .box {
                img {
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}